{% extends "base.html" %}
{% block title %}Change your password{% endblock %}
{% block content %}

<section id="login" class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-body jumbotron">
                        <p>Use the form below to change your password.</p>
                        <form method="post">
                            {{ form|crispy }}
                            <div class="d-grid gap-2">
                            <input type="submit" value="Send e-mail" class="btn btn-success" > 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}