{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<section id="login" class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-body jumbotron ">


<h3>Forgotten your password?</h3><br>
<p>Enter your e-mail address to obtain a new password.</p>
<br>
<form method="post">
{{ form|crispy }}
<div class="d-grid gap-2">
<input type="submit" value="Send e-mail" class="btn btn-success" > 
</div>
{% csrf_token %}
</form>

</div>
</div>
</div>
</div>
</div>
</section>

{% endblock %}